@font-face {
  font-family: 'silkscreen';
  src: url('fonts/slkscr-webfont.eot');
  src: url('fonts/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/slkscr-webfont.woff') format('woff'),
       url('fonts/slkscr-webfont.ttf') format('truetype'),
       url('fonts/slkscr-webfont.svg#silkscreennormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'silkscreen';
  src: url('fonts/slkscreb-webfont.eot');
  src: url('fonts/slkscreb-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/slkscreb-webfont.woff') format('woff'),
       url('fonts/slkscreb-webfont.ttf') format('truetype'),
       url('fonts/slkscreb-webfont.svg#silkscreen_expandedbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

.gameHardBox {
	font-family: 'silkscreen';
}