	body {
		background: #2D2D2D;
		color: #CCCCCC;
	}
    #treeview { 
		color: #CCCCCC;
		font-family: sans-serif;
		font-size: 16px;
        position: absolute;
        top: 0;
		right: calc(100% - 220px);
        bottom: 0;
        left: 0;
		
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 1.5;
    }
    #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 220px;
    }
	
	
.jstree-default1 .jstree-icon,.jstree-default1 .jstree-node {
    background-image: url(themes/jstree.png)
}

.jstree-default .jstree-node {
    background-position: -292px -4px;
    background-repeat: repeat-y
}

.jstree-default .jstree-themeicon-custom {
    background-color: transparent;
    background-image: none;
    background-position: 0 0
}

.jstree-default .jstree-anchor {
    line-height: 24px;
    height: 24px
}

.jstree-default .jstree-icon:empty {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 11px;
}

.jstree-default .jstree-clicked,.jstree-default .jstree-wholerow-clicked {
    background: rgba(80,137,222,.1);
	color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none
}

.jstree-default .jstree-hovered,.jstree-default .jstree-wholerow-hovered {
    background: rgba(80,137,222,.15);
    -webkit-box-shadow: none;
    box-shadow: none
}

.jstree-default .jstree-last {
    background: 0 0
}

.jstree-default .jstree-wholerow {
    height: 24px
}
.jstree-node.jstree-leaf > .jstree-icon.jstree-ocl {
    width: 5px;
}


::-webkit-scrollbar {
   background: none;
   width: 16px;
   height: 16px;
}
::-webkit-scrollbar-thumb {
    border: solid 0 rgba(0, 0, 0, 0);
    border-right-width: 4px;
    border-left-width: 4px;
    -webkit-border-radius: 9px 4px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0.2), inset 0 0 0 4px rgba(128, 128, 128, 0.2);
}
::-webkit-scrollbar-track-piece {
    margin: 4px 0;
}
::-webkit-scrollbar-thumb:horizontal {
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 4px;
    border-bottom-width: 4px;
    -webkit-border-radius: 4px 9px;
}
::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow:
      inset 0 0 0 1px rgba(128,128,128,0.9),
      inset 0 0 0 4px rgba(128,128,128,0.9);
}
::-webkit-scrollbar-corner {
    background: transparent;
}
.ace_scrollbar-h{margin: 0 2px}