#header-navbar {
    left:0px !important;
}
.sidebar-l.sidebar-mini.sidebar-o {
    padding-left:0px !important;
}
.client-logos .block-content {
    vertical-align: top;
    text-align: center;
}
.client-logos img {
    width:auto;
    display: inline-block;
    vertical-align: top;
}
.bg-gray-lighter {
    background-color: whitesmoke;
}

.nav-tabs.nav-justified>li {
    float: none;
    display: table-cell;
    width: 1%;
    vertical-align: middle;
}
.block-content p, .block-content .push, .block-content .block, .block-content .items-push > div {
    margin-bottom: 2px;
}
.nav-users a > img {
    border-radius: 0%;
    left: 10px;
    top: 5px;
    width: 50px;
    height: 50px;
}
.nav-users a > i {
    top: 40px;
	left: 45px;
	color: #5c90d2;
}