div.pv-timeslider {
	left:16px!important;
	right:16px!important;
	bottom: 5px;
	position: absolute;
	display: inline-block;
	width: auto!important;
	margin-bottom: 10px;
	padding: 0;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	text-align: left;
	z-index: 200;
	border-top: 1px solid #ddd;
	border-radius: 0px;

}

div.pv-timeslider .groupList {
	display: block;
	height: 40px;
	margin: 0;
	padding: 0;
	line-height: 40px;
	list-style: none;
	cursor: default
}
div.pv-timeslider .groupList .itemList {
	display: inline-block;
	zoom:1;
	vertical-align: top;
	height: 40px;
	width: auto;
	line-height: 40px;
	border-right: 1px solid #E5E5E5
}
div.pv-timeslider .groupList .itemList.last {
	border-right: 0
}
div.pv-timeslider .button {
	display: block;
	width: 48px;
	height: 40px;
	text-indent: -9999px;
	line-height: 0;
	font-size: 0;
	background: url(img/slider.png) no-repeat -2px -55px
}
div.pv-timeslider .button:hover {
	background-position: -42px -55px
}
div.pv-timeslider .button.stop {
	background-position: -2px -4px
}
div.pv-timeslider .button.stop:hover {
	background-position: -42px -4px
}
div.pv-timeslider .textDisplay {
	width: 120px;
	height: 40px;
	margin: 0;
	padding: 0 5px 0 0;
	line-height: 40px;
	font-size: 13px;
	font-weight: 700;
	font-family: Helvetica,Arial;
	text-align: center;
	color: #999;
	border: none !important;
	cursor: pointer;
}
.slider-selection {
	background: #397DBA !important;
}
.slider.slider-horizontal .slider-track
{
	height: 4px;
}
.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
	margin-left: -10px;
	margin-top: -2px;
}
.sliderDiv {
	margin-top: 2px;
	margin-left: 15px;
	position: absolute;
}
.slider-handle {
	top: 1px;
	width: 15px;
	height: 15px;
}
.sliderDiv .slider {
	margin-right: 10px;
}
div.pv-timeslider .button {
	text-indent: 7px;
	line-height: 40px;
	font-size: 16px;
	background: #fff;
	color: #999;
	cursor: pointer;
}
div.pv-timeslider .button:hover {
	color: #666;
}
div.pv-timeslider .button .fa-pause {
	display: none !important;
}
div.pv-timeslider .button.stop .fa-play {
	display: none !important;
}
div.pv-timeslider .button.stop .fa-pause {
	display: inline-block !important;
}
div.pv-timeslider .button.loop {
	color: #397DBA;
}
div.pv-timeslider .dropdown-lg.open .button .fa-gear {
	color: #397DBA;
}
div.pv-timeslider .dropdown-backdrop {
	display: none;
}
div.pv-timeslider .dropdown-menu-right {
	top: auto;
	bottom: 100%;
	box-shadow: none;
	border-radius: 0px;
	right: 0px;
	-webkit-box-shadow: rgba(0,0,0,.2) 4px 0 5px -2px;
			box-shadow: rgba(0,0,0,.2) 4px 0 5px -2px;
}
div.pv-timeslider .form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}
div.pv-timeslider .form-horizontal {
	line-height: initial;
}
div.pv-timeslider .form-horizontal .form-group {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #f3f3f3;
}	
div.pv-timeslider ::selection {
  background: #fff;
}