		.sankeybox {
			display: flex;
			flex-direction: column;
			height: 400px;
			width: 100%;
			position: relative;
		}
		
		.sankey .node text {
			pointer-events: none;
		}
		.node rect {
		  cursor: move;
		  fill-opacity: .8;
		  /* stroke-opacity: 0; */
		  shape-rendering: crispEdges;
		}
		.node text {
		  pointer-events: none;
		  text-shadow: 0px 0px 13px #fff;
		}
		.node rect:hover {
			fill-opacity: 1;
		}
		.link {
		  fill: none;
		  stroke: #000;
		  stroke-opacity: .16;
		  transition-property: stroke-opacity;
		  transition-duration: 0.5s;
		}
		.link:hover {
		  stroke-opacity: .45;
		}
		.d3-tip h1 {
			font-size: 14px;
			padding: 0;
			margin-bottom: 5px;
			width: 100%;
			line-height: 12px !important;
		}
		.d3-tip h2 {
			font-weight: bold;
			font-size: 12px;
			padding-right: inherit;
			padding-left: inherit;
			padding-top: 2px;
			padding-bottom: 2px;
			margin: 0px;
			line-height: 12px !important;
		}
		.d3-tip h3 {
			font-weight: normal;
			font-size: 8px;
			margin: 0;
			padding: 0;
			line-height: 12px !important;
		}
		.d3-tip table {
			font-weight: normal;
			font-size: 12px;
			padding: none;
			margin: 0;
			width: 100%;
			border: none;
			border-collapse: collapse;
		}
		.d3-tip td {
			padding-top: 2px;
			padding-bottom: 2px;
		}
		.d3-tip .col-left {
			padding-right: 8px;
		}
		.d3-tip .table-wrapper {
			margin: 0;
			padding: inherit;
			border: none;
		}
		.d3-tip {
			line-height: 1;
			font-weight: normal;
			padding: 4px;
			background: white;
			color: black;
			border-radius: 2px;
			pointer-events: none;
			background:  white;
			box-shadow: 1px 1px 4px grey;
		}
		