/*
 * CSS customizado para o template Light
 */
.table-hover tbody tr:hover {
    color: #6c757d;
    background-color: #e2e6e8
}

.logo .logo-lg-text-light {
    font-weight: 500;
}
/*
table {
	width: 100%;
}
thead, tbody, tr, td, th { display: block; }
tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}
tbody {
	height: 148px;
	overflow-y: auto;
}
tbody td, thead th {
	width: 50%;
	float: left;
}
*/
/* Chart Icons */
.cIcon {
  color: #414d5f;
  fill: #414d5f;
}
.cIcon:hover {
  background-color: #d9e4e9;
}
.chartIcons .active {
	background: #5089de;
    fill: #ffffff;
}

/* HelpNewChart */
.helpNewChart span {
	color: #777;
}
.iconHelpNewChart {
	color: #ccc !important;
}
.cardBoxHelpNewChart { 
	border: 2px dashed rgba(0,0,0,.2);
}

.boxChart .chartOptions {
    background: rgba(255,255,255,.8);
}

/* toastr */
.toast-success {
    background-color: #374150 !important;
}
#toast-container>div {
	opacity: 0.9 !important;
}

/* murri */
.item-content {
    color: #414d5f !important;
    background: #d9e4e9 !important;
}
.item.muuri-item-dragging .item-content {
    color: #fff !important;
    background: #8993a2 !important;
}
.item.muuri-item-releasing .item-content {
    color: #fff !important;
    background: #8993a2 !important;
}

/* navbar-separator */
.nav-divider {
    background: #e2e3e3;
}

