/*
 * CSS customizado para o template dark
 */
 
.modal-backdrop {
	background-color: #292c35;
}

/* Chart Icons */
.cIcon {
  color: #ffffff;
  fill: #ffffff;
}
.cIcon:hover {
  background-color: #8391a0;
}
.chartIcons .active {
	background: #5089de;
}

/* HelpNewChart */
.helpNewChart span {
	color: #ccc;
}
.iconHelpNewChart {
	color: #777 !important;
}
.cardBoxHelpNewChart { 
	border: 2px dashed rgba(255,255,255,.2);
}

.boxChart .chartOptions {
    background: rgba(50,58,70,.8);
}

/* fix heatmap in darkmode tooltip trace */
[data-charttype="HEATMAP"] .hoverlayer .hovertext rect {
	fill: rgba(255, 255, 255, 0.8) !important;
}

/* toastr */
#toast-container>div {
    -moz-box-shadow: 0 0 12px #333 !important;
    -webkit-box-shadow: 0 0 12px #333 !important;
    box-shadow: 0 0 12px #333 !important;
}
#toast-container>div:hover {
    -moz-box-shadow: 0 0 12px #333 !important;
    -webkit-box-shadow: 0 0 12px #333 !important;
    box-shadow: 0 0 12px #333 !important;
}
.toast-success {
    background-color: #282d37 !important;
}

/* navbar-separator */
.nav-divider {
    background: #4e5864;
}


/* Markdown */
.cm-s-easymde .cm-link {
    color: #b3eaef !important;
}
.EasyMDEContainer {
    background-color: #434b56!important;
}
.CodeMirror, .editor-preview {
    /* color: #adb5bd !important; */
    color: #dee2e6 !important;
    background-color: #4a535f !important;
}
.cm-s-easymde .CodeMirror-cursor {
    border-color: #fff !important;
}
.editor-toolbar button.active, .editor-toolbar button:hover {
    color: #fff !important;
    background-color: #323841 !important;
    border-color: #2d3239 !important;
}
.editor-preview pre {
    background-color: #333 !important; 
}
.editor-toolbar .fa {
    color: #f1f5f7 !important;
    background-color: #434b56 !important;
    border-color: #434b56 !important;
}
.editor-statusbar {
    color: #f1f5f7 !important;
}
.CodeMirror-selected {
	background-color: #323841 !important;
}
/* Markdown */

