/*
 * CSS customizado
 */
 
.fullscreen {
    z-index: 9999; 
    width: 80%; 
    height: 80%; 
    position: fixed; 
    top: 10%; 
    left: 10%; 
}

.hide {
	display: none !important;
}

svg {
	width : 100%!important;
	height : 100%!important;
}
.default-chart {
	height: 300px !important;
	overflow: hidden;
}
.bordCharts .col-lg-6:nth-child(odd):last-child {
	max-width: 100%;
	flex: auto;
}
.boxChart {
	transition: max-width .3s ease-in-out;
}

.card-box {
	-webkit-box-shadow: none;
	box-shadow: none;
}
			
/* adjust margins into loaderBox */
.boxChart .chartOptions {
	position: absolute;
    border-radius: .25rem;
    z-index: 2;
	margin: 12px;
    top: -12px;
    right: 0;
    left: 0;
    bottom: 12px;
    margin-top: 60px;
    margin-bottom: 12px;
    margin-left: 12px;
    padding: 20px;
    width: calc(100% - 24px);
    min-width: 320px;
    max-width: 500px;
}

.header-title {
    font-weight: 600;
}

/* disable dropdown open/close animation */
.dropdown-menu {
    -webkit-animation-duration: .0s !important;
    animation-duration: .0s !important;
}

/* chart plotly cursor fixed */
.js-plotly-plot .plotly .cursor-ew-resize {
	cursor: crosshair;
}

/* Chart Icons */
.nav-link {
	white-space: nowrap;
}
.chartIcons {
	display: block;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0px;
	padding-left: 10px;
}
.chartIcons li {
  display: inline-block;
  margin: 2px;
}
.chartIcons a, .chartIcons svg {
  display: block;
}
.chartIcons a {
    padding: 5px;
	border-radius: 5px;
    position: relative;
    height: 3.6rem;
    width: 3.6rem;
}
.chartIcons svg {
  height: 100%;
  width: 100%;
}

/* HelpNewChart */
.helpNewChart {
	height: 300px !important;
}
.helpNewChart span {
	font-size: 1.0625rem;
	margin-bottom: -15px;
	display: block;
}
.iconHelpNewChart {
	font-size: 6rem !important; 
	padding-top: 30px;
}
.boxHelpNewChart { 

}

/* toastr */
#toast-container>div {
    width: 350px !important;
    padding: 15px 15px 15px 60px !important;
}
.toast-close-button:focus, .toast-close-button:hover {
    color: #fff !important;
    opacity: .8 !important;
}
.toast-close-button {
    opacity: .4 !important;
}

/* navbar-separator */
.nav-divider {
    height: 40px;
    width: 2px;
    display: block;
    margin-top: 15px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(128, 139, 164);
  border-radius: 15px;
}

/* Keeps the left menu fixed. */
.enlarged .left-side-menu {
    position: fixed !important;
}

/* debugMode */
.btnCustomizeGraf {
	display: block !important;
}

.debugMode .btnCustomizeGraf {
	display: block !important;
}

.debugMode .debugModeLink {
	display: none !important;
}
